.git
.vscode
node_modules/**

build/**
public/**

assets/**
coverage/**

tests/bench/**
tests/fixtures/**
tests/performance/**

tmp/**
test.js

webpack.config.js
main.webpack.config.js
development.webpack.config.js
production.webpack.config.js
postcss.config.js
