.git
.vscode
node_modules/**

build/**
public/**

assets/**
coverage/**
docs/**
jsdoc/**

tests/bench/**
tests/fixtures/**
tests/performance/**

tmp/**
test.js

webpack.config.js
main.webpack.config.js
development.webpack.config.js
production.webpack.config.js
postcss.config.js

src/lib/matomo/**
src/i18n/messages/en/**
src/i18n/messages/ru/**
